{% extends 'base.html' %}

{% block content %}
<main class="container py-5 ">
 <section class="card card-body">
  <h1 class="display-1 text-center">Django App</h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, laborum magnam, atque corrupti, sunt laudantium consequatur suscipit fugiat perspiciatis odit accusamus! Obcaecati cum, expedita nemo rem veritatis similique nam rerum deleniti cumque animi possimus vero. Pariatur optio veniam distinctio. Amet animi sunt, eum saepe doloribus incidunt corrupti hic quibusdam asperiores esse. Harum necessitatibus magni animi tempore veniam dolorem ea temporibus officia laudantium eligendi eos beatae nisi unde, aliquid sed quidem, accusamus neque reprehenderit tenetur consequatur tempora, voluptatum adipisci possimus ipsam? Facere harum quidem laboriosam inventore dolor obcaecati, in itaque molestiae at quia eum quo explicabo recusandae, numquam veritatis, fugit architecto.</p>
 <div class="text-center">
  <a class="btn btn-secondary" href="/signin/">
   Signin
  </a>
  <a class="btn btn-dark" href="/signup/">
   Signup
  </a>

 </div>
 
 
 </section>

</main>
{% endblock %}