{% extends 'base.html' %}

{% block content %}
<main class="container">
 <div class="row">
  <div class="col-md-4 offset-md-4">
   <form  method="post" class="card card-body text-center">
    <h1>Signup</h1>
    {{error}}
    {% csrf_token %}
    <!-- {{form}} -->
    <div class="mb-3">
     <label for="username">Username:</label>
     <input type="text" name="username" class="form-control" id="username" placeholder="Write your username">

    </div>
    <button>
     Signup
    </button>
   
   </form>

  </div>

 </div>

</main>

{% endblock %}

